/* List Formatting */

ul {
    list-style-type: lower-greek;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: goldenrod;
    font-weight: bold;
    font-style: italic;
}

.first-li {
    background-color: chartreuse;
    width: 100px;
    height: 25px;
}

.second-li {
    background-color: mediumspringgreen;
    width: 100px;
    height: 25px;
}

.third-li {
    background-color: lawngreen;
    width: 100px;
    height: 25px;
}


/* Table Formatting */

table,
th,
td {
    border: 2px solid;
    border-color: greenyellow;
    border-collapse: collapse;
    background-color: gainsboro;
    text-align: center;
}

th {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: lightcoral;
    padding: 10px;
}

td {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: lightskyblue;
    padding: 20px;
    border-radius: 20px;
}