h1 {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    margin: 50px;
    padding: 20px;
    border-color: blue;
    border-radius: 15px;
    box-shadow: 20px 20px 50px red inset;
}

p {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    margin: 75px;
    padding: 20px;
    border-color: red;
    border-radius: 30px;
    box-shadow: 20px 40px 30px blue;
}


/*
    Float
*/

div {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    border-style: solid;
    border-color: green;
    border-width: 3px;
    background-color: orange;
    width: 300px;
    height: 100px;
    float: left;
    margin: 20px;
}